.jumbotron{
     padding-top: 7rem;
     background-color: rgb(94, 94, 94);
}

#project{
     background-color: rgb(94, 94, 94);
}
.footer{
     background-color: #5E5E5F;
}
section{
     padding-top: 5rem;
}

.text-align-center{
     text-align: center;
}